body, h1, h2, h3, p, ul, li, form, input, textarea, select {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f0f0f0;
    color: #333;
}

h1 {
    text-align: center;
    margin: 20px 0;
}

form {
    max-width: 100%;
    margin: 0 auto;
    padding: 20px;
    background-color: rgba(136, 211, 205, 0.747);
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
    color: #333;
}

input[type="text"],
input[type="date"],
input[type="time"],
select,
textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

input[type="radio"],
input[type="checkbox"] {
    margin-right: 5px;
}

textarea {
    resize: vertical;
}

select {
    width: 100%;
}

input[type="submit"] {
    display: block;
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}

/* Estilização para campos obrigatórios */
input:required, textarea:required, select:required {
    border-color: #ff0000;
}

/* Estilização para campos preenchidos corretamente */
input:valid, textarea:valid, select:valid {
    border-color: #00cc00;
}
